<html>
	<head>
		<title>restaurant</title>
	</head>
	<body>
		<% include header %>
		<div class="container" style="margin-top:200px" align="center">
			<div class="card col-md-4">
				<br>
				<h3>create restaurant</h3>
				<br>
				<form method="post" enctype="multipart/form-data">
					<input type="text" name="name" class="form-control" placeholder="name" required><br>
					<input type="text" name="borough" class="form-control" placeholder="borough" ><br>
					<input type="text" name="cuisine" class="form-control" placeholder="cuisine" ><br>
					<input type="file" name="upload photo" value=""><br><br>
					<input type="text" name="address_street" class="form-control" placeholder="address_street" ><br>
					<input type="text" name="address_building" class="form-control" placeholder="address_building" ><br>
					<input type="text" name="address_zipcode" class="form-control" placeholder="address_zipcode" ><br>
					<input type="text" name="address_coord" class="form-control" placeholder="address_coord" ><br>
					
					<p>
						<font color="red"><b><%= prompt %></b></font>
					</p>
					
					<input type="submit" value="Create" formaction="/createRestaurants" class="btn btn-primary btn-block"><br>
				</form>
			</div>
		</div>
	</body>
</html>
