<html>
	<head>
		<title>restaurant - Error</title>
	</head>
	<body>
		<% include header %>
		<div class="container" style="margin-top:200px">
			<div class="alert alert-danger" role="alert">
				<h3 class="alert-heading">error</h3>
				<p><%= error %></p>
			</div>
		</div>
	</body>
</html>